In [210]:
import pandas as pd

In [211]:
train=pd.read_csv('../train.csv')
test=pd.read_csv('../test.csv')
sub=pd.read_csv('../sample_submission.csv')
age=pd.read_csv('../age_gender_info.csv')
train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

In [212]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [213]:
train['임대료'].value_counts()

-         21
390000    19
79980     18
100920    16
167230    15
          ..
215080     1
265610     1
121980     1
113000     1
80500      1
Name: 임대료, Length: 995, dtype: int64

In [214]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

### 결측치

In [215]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

### 1.자격유형

In [216]:
test.loc[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [217]:
grouped=test.groupby(['단지코드','임대건물구분','지역','공급유형'])
group1=grouped.get_group(('C2411','아파트','경상남도','국민임대'))
group2=grouped.get_group(('C2253','아파트','강원도','영구임대'))
print(group1)
print(group2)

      단지코드  총세대수 임대건물구분    지역  공급유형   전용면적  전용면적별세대수   공가수 자격유형     임대보증금  \
193  C2411   962    아파트  경상남도  국민임대  39.43        56  25.0    A  11992000
194  C2411   962    아파트  경상남도  국민임대  39.72       336  25.0    A  11992000
195  C2411   962    아파트  경상남도  국민임대  39.82       179  25.0    A  11992000
196  C2411   962    아파트  경상남도  국민임대  46.90       240  25.0  NaN  71950000
197  C2411   962    아파트  경상남도  국민임대  51.93       150  25.0    A  21586000

        임대료  도보 10분거리 내 지하철역 수(환승노선 수 반영)  도보 10분거리 내 버스정류장 수  단지내주차면수
193  100720                           0.0                 2.0    840.0
194  100720                           0.0                 2.0    840.0
195  100720                           0.0                 2.0    840.0
196   37470                           0.0                 2.0    840.0
197  171480                           0.0                 2.0    840.0
      단지코드  총세대수 임대건물구분   지역  공급유형   전용면적  전용면적별세대수  공가수 자격유형    임대보증금    임대료  \
258  C2253  1161    아파트  강원도  영구임대  26.37       745  0.0  NaN  2249000  44770
259  C2253  1161    아파트  강원도  영구임대  31.32       239  0.0    C  3731000  83020
260  C2253  1161    아파트  강원도  영구임대  31.32       149  0.0    C  3731000  83020

     도보 10분거리 내 지하철역 수(환승노선 수 반영)  도보 10분거리 내 버스정류장 수  단지내주차면수
258                           0.0                 2.0    173.0
259                           0.0                 2.0    173.0
260                           0.0                 2.0    173.0

In [218]:
test.loc[196,'자격유형']='A'
test.loc[258,'자격유형']='C'

In [219]:
test['자격유형'].isnull().sum()

0

In [220]:
train['자격유형'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O'], dtype=object)

In [221]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5,
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
train['자격유형']=train['자격유형'].map(mapping).astype(int)
test['자격유형']=test['자격유형'].map(mapping).astype(int)

### 2.도보 10분거리 내 버스정류장 수_qcut

In [222]:
train.loc[train['도보 10분거리 내 버스정류장 수'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2315,C1649,575,아파트,경상남도,공공임대(10년),74.97,80,15.0,1,46000000,456000,NaN,NaN,1066.0,855.0
2316,C1649,575,아파트,경상남도,공공임대(10년),84.95,124,15.0,1,57000000,462000,NaN,NaN,1066.0,855.0
2317,C1649,575,아파트,경상남도,공공임대(10년),84.96,289,15.0,1,57000000,462000,NaN,NaN,1066.0,855.0
2318,C1649,575,아파트,경상남도,공공임대(10년),84.98,82,15.0,1,57000000,462000,NaN,NaN,1066.0,855.0

In [223]:
train['도보 10분거리 내 버스정류장 수']=train['도보 10분거리 내 버스정류장 수'].fillna(0.0)

In [224]:
train['도보 10분거리 내 버스정류장 수'].isnull().sum()

0

In [225]:
train['도보 10분거리 내 버스정류장 수'].value_counts()

2.0     780
3.0     776
4.0     493
1.0     270
5.0     164
6.0     156
8.0      99
10.0     80
7.0      65
12.0     22
20.0     15
15.0     11
0.0       6
16.0      6
19.0      4
11.0      3
14.0      2
Name: 도보 10분거리 내 버스정류장 수, dtype: int64

In [226]:
train['label_bus']=pd.qcut(train['도보 10분거리 내 버스정류장 수'],20,labels=False,duplicates='drop')

In [227]:
test['label_bus']=pd.qcut(test['도보 10분거리 내 버스정류장 수'],20,labels=False,duplicates='drop')

### 3.도보 10분거리 내 지하철역 수(환승노선 수 반영)_qcut

In [228]:
train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull().sum()

211

In [229]:

test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull().sum()

42

In [230]:
import numpy as np

In [231]:
train['도보 10분거리 내 지하철역 수(환승노선 수 반영)']=train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(train.groupby('도보 10분거리 내 버스정류장 수')['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].transform(np.mean))

In [232]:
test['도보 10분거리 내 지하철역 수(환승노선 수 반영)']=test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(test.groupby('도보 10분거리 내 버스정류장 수')['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].transform(np.mean))

In [233]:
test.loc[test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,label_bus
891,C1327,98,아파트,대전광역시,행복주택,16.83,30,13.0,10,18800000,94000,NaN,17.0,98.0,8
892,C1327,98,아파트,대전광역시,행복주택,26.51,10,13.0,10,28400000,142000,NaN,17.0,98.0,8
893,C1327,98,아파트,대전광역시,행복주택,26.51,10,13.0,10,28400000,142000,NaN,17.0,98.0,8
894,C1327,98,아파트,대전광역시,행복주택,36.92,48,13.0,10,36800000,184000,NaN,17.0,98.0,8

In [234]:
test['도보 10분거리 내 지하철역 수(환승노선 수 반영)']=test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

In [235]:
train['label_sub']=pd.qcut(train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'],20,labels=False,duplicates='drop')

In [236]:
test['label_sub']=pd.qcut(test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'],20,labels=False,duplicates='drop')

### 4.단지코드

In [237]:
test.loc[test['단지코드'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수, 단지내주차면수, label_bus, label_sub]
Index: []

In [238]:
grouped=train.groupby(['임대건물구분','지역','공급유형'])
group2=grouped.get_group(('아파트','대전광역시','행복주택'))
group2

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,label_bus,label_sub
2835,C2298,581,아파트,대전광역시,행복주택,16.85,96,21.0,10,16400000,79000,0.0,3.0,408.0,444.0,2,0
2836,C2298,581,아파트,대전광역시,행복주택,26.64,204,21.0,10,24520000,118000,0.0,3.0,408.0,444.0,2,0
2837,C2298,581,아파트,대전광역시,행복주택,26.64,30,21.0,10,24520000,118000,0.0,3.0,408.0,444.0,2,0
2838,C2298,581,아파트,대전광역시,행복주택,36.86,148,21.0,10,33640000,162000,0.0,3.0,408.0,444.0,2,0
2839,C2298,581,아파트,대전광역시,행복주택,36.86,100,21.0,10,33640000,162000,0.0,3.0,408.0,444.0,2,0

In [239]:
test[test['단지코드']=='C2298']

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수, 단지내주차면수, label_bus, label_sub]
Index: []

In [240]:
test['단지코드']=test['단지코드'].fillna('C2298')

In [241]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
label_bus                         0
label_sub                         0
dtype: int64

In [242]:
train.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
label_bus                         0
label_sub                         0
dtype: int64

### 공급유형_mapping

In [243]:
train['공급유형'].value_counts()

국민임대         1758
임대상가          562
행복주택          213
공공임대(10년)     205
영구임대          152
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

In [244]:
mapping = { '국민임대':1, '임대상가':2, '행복주택':3, '공공임대(10년)':4, 
           '영구임대':5,'공공임대(50년)':6,
           '공공임대(분납)':7, '장기전세':8, '공공분양':9, '공공임대(5년)':10 }
train['공급유형'] =train['공급유형'].map(mapping).astype(int)
test['공급유형'] =test['공급유형'].map(mapping).astype(int)

### 전용면적별 세대수_qcut

In [245]:
train['전용면적별세대수'].value_counts()

1      562
30      49
60      48
24      47
120     42
      ...
532      1
524      1
516      1
512      1
496      1
Name: 전용면적별세대수, Length: 403, dtype: int64

In [246]:
train['label_generation_num']=pd.qcut(train['전용면적별세대수'],20,labels=False,duplicates='drop')

In [247]:
test['label_generation_num']=pd.qcut(test['전용면적별세대수'],20,labels=False,duplicates='drop')

### 지역_mapping

In [248]:
train['지역'].value_counts()

경기도        621
경상남도       369
부산광역시      328
대전광역시      266
강원도        187
충청북도       163
충청남도       158
전라남도       151
광주광역시      141
경상북도       119
전라북도       109
대구광역시      102
제주특별자치도     91
서울특별시       64
세종특별자치시     47
울산광역시       36
Name: 지역, dtype: int64

In [249]:
mapping1 = { '경기도':1, '경상남도':2, '부산광역시':3, '대전광역시':4, 
           '강원도':5,'충청북도':6,'충청남도':7, '전라남도':8, '광주광역시':9, 
            '경상북도':10, '전라북도':11,'대구광역시':12,'제주특별자치도':13,'서울특별시':14,'세종특별자치시':15,'울산광역시':16 }
train['지역'] =train['지역'].map(mapping1).astype(int)
test['지역'] =test['지역'].map(mapping1).astype(int)

### 머신러닝

In [250]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
import pandas as pd
from sklearn.linear_model import LinearRegression

In [251]:
### 한글 폰트 설정
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform
path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")
matplotlib.rcParams['axes.unicode_minus'] = False

In [252]:
train.shape

(2952, 18)

In [253]:
# sel=['label_generation_num','label_bus','단지내주차면수','공급유형']
sel=['label_generation_num','label_bus','단지내주차면수','공급유형','총세대수','전용면적','공가수','지역']
X=train[sel]
y=train['등록차량수']

In [254]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [255]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2214, 8), (738, 8), (2214,), (738,))

### 모델만들기

In [256]:
model=LinearRegression()
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred

array([ 789.96664192, 1141.55269487,  600.63538523,  834.60388681,
        711.53758537,  167.38191513,   89.91887292,   92.82575484,
        468.28435321,  607.75366771,  165.18623101,  736.67010897,
        873.0050272 ,  962.5913248 ,  541.48124269,  235.5326751 ,
       1321.30165284,  741.57033667,  151.3608803 ,  616.87213682,
        165.85669204,  483.41024567,  586.11160998,  529.88262783,
        109.95165926,  578.42591862,  782.26348928, 1201.75418421,
        430.76453902,  593.8756616 ,  679.65036759, 1294.90117892,
        765.02066952,  350.03434741,  172.22360194,  550.50432037,
        776.23870758,  532.2379876 ,  742.32584432, 1540.5067788 ,
        289.03855561,  391.84006554,  293.40983515,  956.91185425,
        309.50405902,  910.22252197, 1260.86961302,  366.27528166,
        642.23542536,  485.83383764,  497.20359237,  493.46270968,
        430.85770591,  604.2071308 ,  483.65655774,  819.19188123,
        472.76179281,   90.39883859,  731.9398461 ,  741.38497844,
       1538.30042587,  111.45693639,  327.69803909,  436.79533201,
        417.25836018,  691.61573227,  790.03112083,  258.56343127,
        803.97046387,  415.32101167,  331.75902936,  359.72495591,
        734.7575681 ,  345.97389044,  213.53143499,  270.46497874,
        166.27831741,  183.20398125,  185.38424641,  276.1874688 ,
         49.31517938,  -30.78088284,  880.61198713, 1705.84505407,
        757.54555407,  372.82889358,  498.11159505,  418.58894809,
        643.697546  ,  664.21495069,  -36.40597384,  175.30278203,
        166.88614922,  653.27514528,  800.65591013,  234.76824256,
       1771.46065825,  303.69938365,  724.21350711,  187.49415168,
        874.06732844,  277.18103967, 1562.0992809 ,  511.22261239,
        375.56579364,  380.7722471 , 1196.96874957,  595.32984201,
        273.79032826,  544.3875498 ,  178.85592888,  772.29737712,
        736.08828877,  890.31353374,   91.50497315,  375.54900292,
        314.51496228,  351.62527782,   92.82575484,   50.43277488,
        550.84613514,  889.33042609,  156.84912673,  180.11352984,
       1310.02598024,  591.64015208,  817.56021285,  182.0102793 ,
        248.93788686,  543.72339371, 1012.73217523,  459.33202786,
        668.21431259, 1081.09426934,  609.72242139,  347.86132694,
        711.17465844, 1172.06026614,  967.28651959,  154.71680151,
       1538.30541952,  203.5828415 ,  730.80292638,  418.28500504,
        293.37764291, 1201.75418421,  872.66611261,  367.95188022,
        290.91521408, 1163.44988964,   41.89362512,  206.5523176 ,
       1420.16796634,  182.0102793 ,  229.42166288,  922.48821095,
       1177.19065401,  678.01638654, 1113.98392764,  774.51712973,
        -30.78088284,  140.68444628,  734.20276282,  421.22377831,
        519.76400226,  452.82287399,  323.5253352 ,  812.40853832,
        670.96428632,  463.32457105,  275.39286157, 1202.07725846,
        604.16034947,  167.38191513,  432.34932068,  704.78784905,
        558.9158561 ,  156.48393122,  726.12067008, 1114.90822168,
        117.76376403,  968.84040052,  623.91827915,  632.09561466,
        813.75805819,  401.59311644,  241.84129249,  502.36392866,
        533.92584293,  162.70668384,  289.54635291,  562.29631079,
        284.07806039,  478.79588487,  177.43961436,  439.25829634,
        712.19301698,  655.53937981, 1697.48528532,  399.36992167,
        827.85415049, 1026.47342582,  303.79358537,  243.33582842,
       1332.71085967,  762.8046548 ,  703.62326503,  292.61072318,
        641.23761376,  719.1384892 ,  589.90186807, 1197.45879855,
        953.42044636, 1500.3028871 ,  552.01785438,  277.60002819,
        803.56598765,  387.97502916,  308.43751242,  154.8067219 ,
        292.47296987,  615.98537756,  -35.14757282,  454.89911727,
        605.59408447,   41.8187203 ,  339.06620407,  622.59437453,
        465.99118273,  589.20612312,  360.61298396, 1508.99613483,
        313.4144164 ,  245.87321381,  360.72713796,  416.83673751,
        225.29589033,  345.71861113,  185.38424641,  729.2533379 ,
        308.73213805,  288.12369307,  978.29791905,  449.01093761,
       1315.71167751,  161.29344492,   79.48400943,  412.16163332,
       1695.20687843,  893.82925715,   42.14016232,  388.06096497,
        734.29985067, 1818.62486642,  944.31119685,  668.58157178,
        727.81047922,  691.06743566,  283.08571501,  699.07747582,
        373.52586135,  344.47887396,   81.03979067,  103.62203658,
        404.35110209,  467.1323922 ,  892.15307413,  703.62326503,
        484.65685304, 1184.42371299,  304.92704931,  158.76169653,
       1517.30206926,  169.0381077 ,  494.09514882, 1117.47948602,
       1066.79822018,  543.31695999,  980.70025759,  316.97666217,
       1197.35721762,  637.02588717,  569.09598365,   50.26121581,
        236.18344084,  724.5580588 ,  324.83537583,  960.34080944,
        936.11330063,  299.41039605, 1637.99465882,  297.02448465,
        670.5439768 ,  126.17753089,  299.55741349, 1388.73532965,
       1374.86801605,  300.02312059,  510.86351975,  278.97830574,
        180.70498621,  828.89455256,  -17.0882813 ,  344.24201754,
        282.29953587,  143.66821507,  -31.35239515,  268.95262304,
       1685.81887457,  493.47645758,  751.25687518,  781.53152975,
        400.40248931,  471.9618345 ,  750.72042583,  224.35585016,
       1004.86042   ,  172.44332276,  187.29681621,  213.64685192,
        886.14675004,  -23.49014679,  925.03697802,  757.06652804,
        305.15957931,  377.46992428,  960.10519456,  -31.35239515,
        562.14966885,  610.81395222,   86.10891164,  138.74969105,
        811.30118001,  571.3109468 ,  733.19315876,  803.76413323,
         91.50497315,  132.39497926, 1161.54938273,  728.4736414 ,
        369.36186459,  561.00122806,  298.58455425,  481.26018565,
        825.33991282,  162.73781614,  -32.71342726,  132.41495388,
        393.22388705,  166.97068126,  856.89478192,  558.05810384,
       1063.70618876,  286.48555145,  513.98533718, 1205.19888052,
        293.24342234,  442.27252881,  419.42410614,   42.18825076,
       1440.46452229, 1006.681419  ,  572.83363443,  169.57668968,
        182.0102793 ,  506.38938372,  711.91675355,  543.46871731,
       1006.04259824, 1343.57523225,  445.97590644,  829.57281026,
        338.55578429,  737.78820698,   87.27722951,  738.65485445,
        750.51716388, 1103.01878148, 1380.12211757,   79.06266732,
        326.19581691,  224.70209507,  334.02054557,  341.14897737,
        764.86501898, 1623.18937614,  415.78318397,  172.16793527,
        605.60288101,  172.78788494,  551.56083966,  303.83852826,
         38.76407021, 1624.0298884 ,   20.1021399 ,  -30.56116203,
        326.58898087,  676.2692727 , 1811.92130606,  620.30569577,
        539.8112467 ,  -30.78088284,  658.32170229,  290.63550145,
        607.36069769,  896.9894377 ,  284.67207891,  784.73045798,
       1808.35699315,  661.28171104,  266.49097481,  454.83812576,
         41.58752922,  724.88647906,  359.35639647,  304.87494099,
         72.15589457,  276.30174159, 1179.97229097,  640.29271591,
       1312.61392651, 1196.32314051,  295.56903586,  220.48662185,
        642.58137121,  673.60420331,  495.41556483, 1343.57523225,
        601.41087392, 1624.85433877,  822.89302196,  282.08376878,
        282.48849421,  434.72103151,   98.03971692,  767.48366172,
        947.14440755,  786.33335012,  178.85592888,  965.26539627,
        664.94114389,  932.24749251,  811.26918835,  182.0102793 ,
        316.38947157,  994.14317073,  205.0042846 ,  178.0148896 ,
        148.46055751,  719.30474441,  527.19311059,  511.44233381,
        586.56477618, 1189.31490701, 1438.21877529,  373.56219403,
        775.61355449,  452.82070826,  665.50528553,  400.91735828,
        609.24970519,  361.55175655,  246.73566485,  218.65203443,
        541.30147112,   38.76407021, 1370.94799701, 1110.28441408,
        516.20589384, 1441.19191088,  706.36672746,  562.68929475,
        293.6566704 ,  266.50882646,  241.16868525,  773.86416186,
        712.01530612,  212.24489738,   97.36749689,  537.1636386 ,
        663.47465458,  190.57674148,  736.2340154 ,  401.19459647,
        292.31089405,   92.82575484, 1354.85531286, 1181.02387656,
        293.65308857,  296.21321734,  209.6741453 ,  -30.21659984,
        679.71998744, 1834.02024287,  182.0102793 ,  -30.21659984,
        775.90335432,  552.99769381,  250.95041763,  327.99841765,
        269.68818034,  305.15957931,  966.8725933 ,  492.3608531 ,
        409.04470612,  581.5104561 ,  570.17338003,  -38.09382917,
        172.09876057,  299.21337903, 1264.80461302,  163.32229128,
        551.96791783,  541.42131883,   83.67181073,  156.48393122,
        296.2189174 ,  991.54813716,  725.14017323,  172.22360194,
         65.21978689,  452.15601229,  741.32000544,  260.99499215,
        442.87851345,  133.05913535,  535.18424395,  180.79766056,
        775.18526541,  419.44577798,  535.07653389,  700.21156154,
        527.4897004 ,  254.37280489,  814.78422357,  997.23892071,
         92.73461827,  373.7809833 ,  154.6519186 ,   42.16328248,
        409.59594919,  -29.03034565,  432.23822721,  488.48345124,
        673.3376865 ,   96.34628149,  681.36902735, 1331.06211107,
        733.02385486,   20.1021399 ,  633.82191   ,  544.74763095,
        154.00591027, 1361.45900012,  161.28848587,  446.07201895,
        524.86375691, 1328.72508061,  281.07126322,  197.83838992,
        618.70177876,  616.73160898,   99.73963513,   38.76407021,
        419.81338008,  627.07164612,  561.01765615,   70.00367916,
        350.58381547,  172.22360194,  492.04890752,  656.69527309,
        292.47296987,  884.17272641,  236.23122179,  190.75588037,
        566.06768408,  275.69511934, 1689.71269227,  450.0011094 ,
        730.79812388,  282.37193582,   92.82575484,  182.0102793 ,
        746.87648588, 1198.95103602,  833.90351992,  446.56499639,
        365.10600891,   93.04547565,  190.29210316,  495.77493877,
        179.51433799,  615.14608978,  879.22498416,  984.1338251 ,
        428.83242034, 1057.07290811,  514.00094674,  531.02397068,
        268.5985849 ,  577.42641116,  457.46237508,  302.95238388,
        728.1032921 ,  480.79223987,  425.43855434,  -30.78088284,
        996.63137983,  376.30447734,  674.8283522 ,  322.57318369,
        783.57680808,  414.65327736,  736.95493624,  236.17883775,
        354.89267449,  269.06332595, 1699.87724598, 1637.76164206,
        464.54582277, 1208.84696939, 1037.36873815,  551.96791783,
        518.13747006,  388.21595766,  308.75211267,  453.91312882,
        702.93498317,   91.50497315,  493.80375594,  274.05376826,
        530.57941611, 1105.58661796,  431.21815719,  329.67797763,
        291.16856949,  455.11400985, 1034.60142391,  -32.47596749,
        383.60906971,  392.93594008,  548.09232513,  180.11352984,
       1159.07246108,  300.93996811,  731.16952529,  716.03686837,
        182.0102793 ,  339.8178113 ,  207.39060441,  470.47909851,
        649.83068271,  -32.47596749, 1617.0051105 ,  273.79107998,
        599.84047424,  481.9852477 ,  657.86412562,  541.48124269,
        426.80369684,  443.70753518, 1510.97446464,  982.23013125,
        172.78788494,   86.66221199,  263.61813555,  309.39629414,
        416.14481166,  670.37419254,  811.09593368,   61.1541518 ,
        927.99398745,  763.96038519,  189.60388474,  768.12559977,
        732.71309819, 1214.40159857,  490.68966374,  757.23841769,
        552.01286072,  459.03176955,  613.8868691 ,  143.66821507,
        143.66821507,  309.50405902,  496.919888  ,  618.39632331,
       1206.99491124,  261.87456261, 1534.92555771,  978.13183655,
        737.78820698,  359.84807775,  445.29492309,  167.97899534,
        308.04091815,  592.02325479, 1076.99772948,  493.84060238,
        212.36747085, 1090.60549206,  844.21379112,  132.37001099,
        550.84613514, 1809.87759173,  276.74379225,  191.0130565 ,
        811.380572  ,  -30.21659984, 1520.7476911 ,  369.6327179 ,
        486.54956955,  376.02640191,  658.44193282,  862.9129554 ,
        293.04214942,  329.59565334,  378.26543237, 1375.1472043 ,
        643.93534358,   85.61933611,  364.02210765,  290.8516294 ,
        394.18566243,  971.17581319,  256.96766726,  759.50603112,
        147.4224943 , 1103.44484719,  852.44220137,   50.48271143,
        594.08192096,  446.30716088, 1709.25902896,  -36.40597384,
        140.63950338,  337.85628191])

In [257]:
#변수:w5개,b1개
model.coef_, model.intercept_

(array([ 1.69991822, 11.2752912 ,  1.05861282, 18.17751052, -0.13132245,
         0.49936548, -5.95630625,  2.24135341]),
 6.164340777625057)

In [258]:
#mae_val=sum(abs(y_test-pred))/len(pred)
mae_val=np.mean(abs(y_test-pred))
mae_val

149.46928845348765

In [259]:
#mse_val=sum((y_test-pred)**2)/len(pred)
mse_val=np.sum((y_test-pred)**2)/len(pred)
mse_val

42255.51652639401

In [260]:
#rmse_val=mse_val ** 0.5
rmse_val=np.sqrt(mse_val)
rmse_val

205.56146654077463

In [261]:
from sklearn.linear_model import LinearRegression

In [262]:
from sklearn.linear_model import Lasso, Ridge

In [263]:
print(X.shape)

(2952, 8)

In [264]:
nor_X = MinMaxScaler().fit_transform(X)  # 입력 데이터 정규화
ex_X = PolynomialFeatures(degree=2, include_bias=False).fit_transform(nor_X)  # 데이터 feature 추가 생성

X_train, X_test, y_train, y_test = train_test_split(ex_X, y, random_state=0)

In [265]:
X_train.shape

(2214, 44)

### RIDGE

In [266]:
model=Ridge(alpha=0.1)
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred[0:10]

array([ 734.53571748, 1195.58986573,  688.68692586,  901.58060716,
        723.64195615,  195.92084163,  119.25681797,   49.83741282,
        570.56926865,  658.05640885])

In [267]:
sel = [10, 5, 1, 0.5, 0.1, 0.01, 0.001, 0.0001]
for var in sel:
    ridge = Ridge(alpha=var).fit(X_train, y_train)
    print("학습용 데이터 세트 점수 : {:.2f}".format(ridge.score(X_train, y_train)))
    print("테스트 데이터 세트 점수 : {:.2f}".format(ridge.score(X_test, y_test)))
    print()

학습용 데이터 세트 점수 : 0.82
테스트 데이터 세트 점수 : 0.81

학습용 데이터 세트 점수 : 0.83
테스트 데이터 세트 점수 : 0.82

학습용 데이터 세트 점수 : 0.85
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.85
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.86
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.86
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.86
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.86
테스트 데이터 세트 점수 : 0.84

In [268]:
model=Ridge(alpha=0.5)
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred[0:10]

array([ 732.04968266, 1140.68600799,  670.67270903,  846.57015155,
        724.18915711,  182.08594674,  125.64384358,   56.04410512,
        545.75544831,  634.41450266])

In [269]:
mae_val=np.mean(abs(y_test-pred))
mae_val

127.55875491004562

In [270]:
mse_val=np.sum((y_test-pred)**2)/len(pred)
mse_val

31784.74457206034

In [271]:
rmse_val=np.sqrt(mse_val)
rmse_val

178.28276577409366

### LASSO

In [272]:
# model=Lasso(alpha=0.01)
# model.fit(X_train,y_train)
# pred=model.predict(X_test)
# pred[0:10]

In [273]:
# sel=[10,5,1,0.5,0.1,0.01,0.001,0.0001,0.000001]
# for var in sel:
#     lasso = Lasso(alpha=var, max_iter=100000).fit(X_train, y_train)
#     print("학습용 데이터 세트 점수 : {:.2f}".format(lasso.score(X_train, y_train)))
#     print("테스트 데이터 세트 점수 : {:.2f}".format(lasso.score(X_test, y_test)))
#     print()

In [274]:
# # model=Lasso(alpha=0.00001)
# model.fit(X_train,y_train)
# pred=model.predict(X_test)
# pred[0:10]

In [275]:
# mae_val=np.mean(abs(y_test-pred))
# mae_val

In [276]:
# mse_val=np.sum((y_test-pred)**2)/len(pred)
# mse_val

In [277]:
# rmse_val=np.sqrt(mse_val)
# rmse_val

### 제출파일 만들기
 - PolynomialFeatures(degree=2)
 - Ridge(alpha=0.5)

In [278]:
print(X_test.shape)
print(test.shape)

(738, 44)
(1022, 17)

In [279]:
sel=['label_generation_num','label_bus','단지내주차면수','공급유형','총세대수','전용면적','공가수','지역']
test_sel=test[sel]
nor_test = MinMaxScaler().fit_transform(test_sel)  # 입력 데이터 정규화
ex_test = PolynomialFeatures(degree=2, include_bias=False).fit_transform(nor_test)  # 데이터 feature 추가 생성
print(ex_test.shape)

(1022, 44)

In [280]:
pred = model.predict(ex_test)

In [281]:
test['등록차량수'] = pred
test['단지별차량수평균'] = test.groupby("단지코드")['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new.head()

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,label_bus,label_sub,label_generation_num,등록차량수,단지별차량수평균
0,0,C1072,754,아파트,1,1,39.79,116,14.0,8,22830000,189840,0.0,2.0,683.0,0,0,10,618.860318,624.672369
1,8,C1128,1354,아파트,1,1,39.79,368,9.0,8,22830000,189840,0.0,3.0,1216.0,1,0,16,1189.822738,1173.241895
2,17,C1456,619,아파트,3,1,33.40,82,18.0,1,19706000,156200,0.0,16.0,547.0,8,0,8,507.696162,518.875665
3,26,C1840,593,아파트,11,1,39.57,253,7.0,1,14418000,108130,0.0,3.0,543.0,1,0,15,521.949016,562.975605
4,30,C1332,1297,아파트,1,1,39.99,282,11.0,8,28598000,203050,0.0,2.0,1112.0,0,0,15,1050.473182,1070.448037

In [282]:
set(sub['code']) - set(test_new["단지코드"])

set()

In [283]:
sub_df = pd.merge(sub, test_new, left_on='code', right_on='단지코드',how='left')
sub_df = test_new[ ['단지코드', '단지별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df.to_csv('0714_hw.csv', index=False)
sub_df

      code          num
0    C1072   624.672369
1    C1128  1173.241895
2    C1456   518.875665
3    C1840   562.975605
4    C1332  1070.448037
..     ...          ...
145  C2456   321.442907
146  C1266   263.059963
147  C2152   -25.555022
148  C1267    60.524020
149  C2189    52.965407

[150 rows x 2 columns]

In [284]:
import os
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '0714_hw.csv',
 '0714_hw_lasso_.ipynb',
 '0714_md_boston.ipynb',
 '0714_ml.ipynb',
 '0714_ml_회귀모형_hw.ipynb',
 '0714_study.ipynb',
 '0714_전처리_hw.ipynb',
 'cache']