In [318]:
import pandas as pd

In [319]:
train=pd.read_csv('./train_df_errno.csv')
test=pd.read_csv('./test_df.csv')
sub=pd.read_csv('./sample_submission.csv')
age=pd.read_csv('./age_gender_info.csv')
train.shape, test.shape, sub.shape, age.shape

((2896, 15), (1008, 14), (150, 2), (16, 23))

In [320]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2896 entries, 0 to 2895
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   단지코드        2896 non-null   object
 1   총세대수        2896 non-null   int64
 2   임대건물구분      2896 non-null   object
 3   지역          2896 non-null   object
 4   공급유형        2896 non-null   object
 5   전용면적        2896 non-null   float64
 6   전용면적별세대수    2896 non-null   int64
 7   공가수         2896 non-null   float64
 8   자격유형        2896 non-null   object
 9   임대보증금       2327 non-null   object
 10  임대료         2327 non-null   object
 11  10분내지하철수    2685 non-null   float64
 12  10분내버스정류장수  2892 non-null   float64
 13  단지내주차면수     2896 non-null   float64
 14  등록차량수       2896 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 339.5+ KB

In [321]:
train.isnull().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            0
임대보증금         569
임대료           569
10분내지하철수      211
10분내버스정류장수      4
단지내주차면수         0
등록차량수           0
dtype: int64

In [322]:
train['임대료'].value_counts()

-         21
390000    19
79980     18
100920    16
167230    15
          ..
246650     1
115520     1
161420     1
136930     1
151030     1
Name: 임대료, Length: 975, dtype: int64

In [323]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수', '10분내버스정류장수', '단지내주차면수', '등록차량수'],
      dtype='object')

### 결측치

In [324]:
test.isnull().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            2
임대보증금         180
임대료           180
10분내지하철수       38
10분내버스정류장수      0
단지내주차면수         0
dtype: int64

In [325]:
train.loc[train['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
80,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
81,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
82,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
83,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
93,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2312,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2313,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2314,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2315,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0

In [326]:
train['임대건물구분'].unique()

array(['아파트', '상가'], dtype=object)

In [327]:
train['공급유형'].unique()

array(['국민임대', '공공임대(50년)', '영구임대', '임대상가', '공공임대(10년)', '공공임대(분납)',
       '장기전세', '공공분양', '행복주택', '공공임대(5년)'], dtype=object)

### 1.자격유형

In [328]:
test.loc[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [329]:
grouped=test.groupby(['단지코드','임대건물구분','지역','공급유형'])
group1=grouped.get_group(('C2411','아파트','경상남도','국민임대'))
group2=grouped.get_group(('C2253','아파트','강원도','영구임대'))
print(group1)
print(group2)

      단지코드  총세대수 임대건물구분    지역  공급유형   전용면적  전용면적별세대수   공가수 자격유형     임대보증금  \
193  C2411   962    아파트  경상남도  국민임대  39.43        56  25.0    A  11992000
194  C2411   962    아파트  경상남도  국민임대  39.72       336  25.0    A  11992000
195  C2411   962    아파트  경상남도  국민임대  39.82       179  25.0    A  11992000
196  C2411   962    아파트  경상남도  국민임대  46.90       240  25.0  NaN  71950000
197  C2411   962    아파트  경상남도  국민임대  51.93       150  25.0    A  21586000

        임대료  10분내지하철수  10분내버스정류장수  단지내주차면수
193  100720       0.0         2.0    840.0
194  100720       0.0         2.0    840.0
195  100720       0.0         2.0    840.0
196   37470       0.0         2.0    840.0
197  171480       0.0         2.0    840.0
      단지코드  총세대수 임대건물구분   지역  공급유형   전용면적  전용면적별세대수  공가수 자격유형    임대보증금    임대료  \
258  C2253  1161    아파트  강원도  영구임대  26.37       745  0.0  NaN  2249000  44770
259  C2253  1161    아파트  강원도  영구임대  31.32       239  0.0    C  3731000  83020
260  C2253  1161    아파트  강원도  영구임대  31.32       149  0.0    C  3731000  83020

     10분내지하철수  10분내버스정류장수  단지내주차면수
258       0.0         2.0    173.0
259       0.0         2.0    173.0
260       0.0         2.0    173.0

In [330]:
test.loc[196,'자격유형']='A'
test.loc[258,'자격유형']='C'

In [331]:
test['자격유형'].isnull().sum()

0

In [332]:
train['자격유형'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O'], dtype=object)

In [333]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5,
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10,
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }
train['자격유형']=train['자격유형'].map(mapping).astype(int)
test['자격유형']=test['자격유형'].map(mapping).astype(int)

### 2.도보 10분거리 내 버스정류장 수_qcut

In [334]:
train.loc[train['10분내버스정류장수'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수
2293,N2431,1047,아파트,경상남도,공공임대(10년),74.97,80,15.0,1,46000000,456000,NaN,NaN,1066.0,1214.0
2294,N2431,1047,아파트,경상남도,공공임대(10년),84.95,124,15.0,1,57000000,462000,NaN,NaN,1066.0,1214.0
2295,N2431,1047,아파트,경상남도,공공임대(10년),84.96,289,15.0,1,57000000,462000,NaN,NaN,1066.0,1214.0
2296,N2431,1047,아파트,경상남도,공공임대(10년),84.98,82,15.0,1,57000000,462000,NaN,NaN,1066.0,1214.0

In [335]:
grouped=test.groupby(['임대건물구분','지역','공급유형','자격유형'])
group1=grouped.get_group(('아파트','경상남도','공공임대(10년)',1))
group1

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
810,C2175,595,아파트,경상남도,공공임대(10년),74.82,118,5.0,1,47000000,470000,0.0,3.0,685.0
811,C2175,595,아파트,경상남도,공공임대(10년),84.69,297,5.0,1,58000000,520000,0.0,3.0,685.0
812,C2175,595,아파트,경상남도,공공임대(10년),84.86,143,5.0,1,58000000,520000,0.0,3.0,685.0
813,C2175,595,아파트,경상남도,공공임대(10년),84.89,13,5.0,1,58000000,520000,0.0,3.0,685.0
814,C2175,595,아파트,경상남도,공공임대(10년),84.94,13,5.0,1,58000000,520000,0.0,3.0,685.0
815,C2175,595,아파트,경상남도,공공임대(10년),84.94,11,5.0,1,58000000,520000,0.0,3.0,685.0

In [336]:
train.loc[train['10분내버스정류장수'].isnull(),"10분내버스정류장수"]=5
train.loc[train['10분내버스정류장수'].isnull(),:]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 10분내지하철수, 10분내버스정류장수, 단지내주차면수, 등록차량수]
Index: []

In [337]:
train['label_bus']=pd.qcut(train['10분내버스정류장수'],30,labels=False,duplicates='drop')

In [338]:
test['label_bus']=pd.qcut(test['10분내버스정류장수'],30,labels=False,duplicates='drop')

### 3.도보 10분거리 내 지하철역 수(환승노선 수 반영)_qcut

In [339]:
train['10분내지하철수'].isnull().sum()

211

In [340]:
test['10분내지하철수'].isnull().sum()

38

In [341]:
import numpy as np

In [342]:
train.loc[train['10분내지하철수'].isnull(),:]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수,label_bus
86,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,1,17460000,122210,NaN,3.0,527.0,359.0,2
87,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,1,17460000,122210,NaN,3.0,527.0,359.0,2
88,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,1,19954000,130940,NaN,3.0,527.0,359.0,2
89,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,1,28687000,149660,NaN,3.0,527.0,359.0,2
90,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,3,3141000,69900,NaN,2.0,97.0,62.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2317,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,1,37474000,519350,NaN,6.0,1636.0,2315.0,5
2318,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,1,37385000,516130,NaN,6.0,1636.0,2315.0,5
2319,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,1,54612000,131130,NaN,6.0,1636.0,2315.0,5
2320,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,1,63585000,152680,NaN,6.0,1636.0,2315.0,5
2321,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,1,63501000,152480,NaN,6.0,1636.0,2315.0,5

In [343]:
train['10분내지하철수']=train['10분내지하철수'].fillna(train.groupby('10분내버스정류장수')['10분내지하철수'].transform(np.mean))

In [344]:
test['10분내지하철수']=test['10분내지하철수'].fillna(test.groupby('10분내버스정류장수')['10분내지하철수'].transform(np.mean))

In [345]:
test.loc[test['10분내지하철수'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 10분내지하철수, 10분내버스정류장수, 단지내주차면수, label_bus]
Index: []

In [346]:
test['10분내지하철수']=test['10분내버스정류장수'].fillna(0)

In [347]:
train['label_sub']=pd.qcut(train['10분내지하철수'],30,labels=False,duplicates='drop')
test['label_sub']=pd.qcut(test['10분내지하철수'],30,labels=False,duplicates='drop')

### 4.단지코드

In [348]:
test.loc[test['단지코드'].isnull()]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 10분내지하철수, 10분내버스정류장수, 단지내주차면수, label_bus, label_sub]
Index: []

In [349]:
grouped=train.groupby(['임대건물구분','지역','공급유형'])
group2=grouped.get_group(('아파트','대전광역시','행복주택'))
group2

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,등록차량수,label_bus,label_sub
2790,C2298,581,아파트,대전광역시,행복주택,16.85,96,21.0,10,16400000,79000,0.0,3.0,408.0,444.0,2,0
2791,C2298,581,아파트,대전광역시,행복주택,26.64,204,21.0,10,24520000,118000,0.0,3.0,408.0,444.0,2,0
2792,C2298,581,아파트,대전광역시,행복주택,26.64,30,21.0,10,24520000,118000,0.0,3.0,408.0,444.0,2,0
2793,C2298,581,아파트,대전광역시,행복주택,36.86,148,21.0,10,33640000,162000,0.0,3.0,408.0,444.0,2,0
2794,C2298,581,아파트,대전광역시,행복주택,36.86,100,21.0,10,33640000,162000,0.0,3.0,408.0,444.0,2,0

In [350]:
test[test['단지코드']=='C2298']

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 10분내지하철수, 10분내버스정류장수, 단지내주차면수, label_bus, label_sub]
Index: []

In [351]:
test['단지코드']=test['단지코드'].fillna('C2298')

In [352]:
test.isnull().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            0
임대보증금         180
임대료           180
10분내지하철수        0
10분내버스정류장수      0
단지내주차면수         0
label_bus       0
label_sub       0
dtype: int64

In [353]:
train.isnull().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            0
임대보증금         569
임대료           569
10분내지하철수        0
10분내버스정류장수      0
단지내주차면수         0
등록차량수           0
label_bus       0
label_sub       0
dtype: int64

### 공급유형_mapping

In [354]:
train['공급유형'].value_counts()

국민임대         1736
임대상가          562
행복주택          202
공공임대(10년)     182
영구임대          152
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

In [355]:
mapping = { '국민임대':1, '임대상가':2, '행복주택':3, '공공임대(10년)':4, 
           '영구임대':5,'공공임대(50년)':6,
           '공공임대(분납)':7, '장기전세':8, '공공분양':9, '공공임대(5년)':10 }
train['공급유형'] =train['공급유형'].map(mapping).astype(int)
test['공급유형'] =test['공급유형'].map(mapping).astype(int)

### 전용면적별 세대수_qcut

In [356]:
train['전용면적별세대수'].value_counts()

1      562
30      49
60      48
24      45
90      42
      ...
231      1
406      1
960      1
890      1
404      1
Name: 전용면적별세대수, Length: 400, dtype: int64

In [357]:
train['label_generation_num']=pd.qcut(train['전용면적별세대수'],30,labels=False,duplicates='drop')

In [358]:
test['label_generation_num']=pd.qcut(test['전용면적별세대수'],30,labels=False,duplicates='drop')

### 지역_mapping

In [359]:
train['지역'].value_counts()

경기도        602
경상남도       369
부산광역시      328
대전광역시      266
강원도        187
충청북도       163
충청남도       158
전라남도       147
광주광역시      141
경상북도       111
전라북도       109
대구광역시      102
제주특별자치도     91
서울특별시       64
울산광역시       34
세종특별자치시     24
Name: 지역, dtype: int64

In [360]:
mapping1 = { '경기도':1, '경상남도':2, '부산광역시':3, '대전광역시':4, 
           '강원도':5,'충청북도':6,'충청남도':7, '전라남도':8, '광주광역시':9, 
            '경상북도':10, '전라북도':11,'대구광역시':12,'제주특별자치도':13,'서울특별시':14,'세종특별자치시':15,'울산광역시':16 }
train['지역'] =train['지역'].map(mapping1).astype(int)
test['지역'] =test['지역'].map(mapping1).astype(int)

### 8.임대건물구분 mapping

In [361]:
train['임대건물구분'].unique()

array(['아파트', '상가'], dtype=object)

In [362]:
mapping1 = { '아파트':1, '상가':2}
train['임대건물구분'] =train['임대건물구분'].map(mapping1).astype(int)
test['임대건물구분'] =test['임대건물구분'].map(mapping1).astype(int)

### 9.공가수 qcut

In [363]:
train['공가수'].value_counts()

2.0     254
1.0     245
7.0     230
13.0    229
3.0     110
4.0     107
10.0    106
9.0     104
21.0    104
0.0     101
15.0    100
16.0     96
14.0     84
29.0     81
5.0      78
17.0     70
8.0      58
25.0     56
22.0     54
28.0     49
20.0     48
26.0     47
19.0     47
6.0      44
23.0     37
12.0     36
32.0     35
11.0     34
18.0     32
24.0     31
34.0     24
27.0     20
30.0     19
36.0     18
46.0     14
31.0     13
33.0     12
40.0     11
49.0      9
39.0      8
47.0      8
55.0      8
43.0      5
38.0      5
35.0      4
42.0      4
41.0      4
37.0      3
Name: 공가수, dtype: int64

In [364]:
train['공가수']=pd.qcut(train['공가수'],30,labels=False,duplicates='drop')
test['공가수']=pd.qcut(test['공가수'],30,labels=False,duplicates='drop')

### 머신러닝

In [402]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
import pandas as pd
from sklearn.linear_model import LinearRegression

In [403]:
### 한글 폰트 설정
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform
path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")
matplotlib.rcParams['axes.unicode_minus'] = False

In [404]:
train.shape

(2896, 18)

In [405]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수', '10분내버스정류장수', '단지내주차면수', '등록차량수',
       'label_bus', 'label_sub', 'label_generation_num'],
      dtype='object')

In [406]:
#sel=['label_generation_num','label_bus','단지내주차면수','공급유형','총세대수','전용면적','공가수','지역','임대건물구분','자격유형']
sel=['label_generation_num','label_bus','단지내주차면수','공급유형','총세대수','전용면적','공가수','지역','임대건물구분','자격유형']
X=train[sel]
y=train['등록차량수']

In [408]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [409]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2172, 10), (724, 10), (2172,), (724,))

### 모델만들기

In [410]:
model=LinearRegression()
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred

array([ 1.83564013e+03,  3.74910315e+02,  7.19993032e+02,  5.33798941e+02,
        1.25372895e+02,  6.94059770e+02,  3.97172534e+02,  2.84279891e+02,
        6.22694785e+02,  4.63166378e+02,  2.34423433e+02,  4.89801462e+02,
        1.12043103e+02,  3.96027610e+02,  1.12086067e+02,  3.77736046e+02,
       -3.05356189e+01,  4.24564019e+02,  5.20038234e+01,  6.67283542e+02,
        2.44200670e+02,  6.27232460e+02,  1.08291819e+03,  6.92281539e+02,
        2.56116434e+02,  1.53407202e+02,  6.64396217e+02,  8.01282659e+02,
        8.23275896e+01,  4.26938441e+02,  4.01181313e+02,  1.80834888e+02,
        6.75260607e+02,  8.23275896e+01,  3.44201868e+02,  1.23608866e+03,
        5.72789094e+02,  5.32557983e+02,  6.36113569e+01,  7.23657799e+02,
        2.69840725e+02,  7.03665769e+02,  3.82815443e+02,  7.28262735e+02,
        4.59281288e+02,  2.33381869e+02,  1.15810314e+02,  5.57194097e+02,
        1.36338084e+02,  5.17952290e+02,  6.36113569e+01,  5.62293046e+02,
        8.00351309e+01,  7.65034098e+02,  2.95135896e+02,  2.32505318e+01,
        2.69540189e+02,  1.58369457e+03,  2.77979889e+02,  6.22282750e+02,
        3.71585268e+02,  3.21599294e+02,  4.53135551e+02,  9.04611504e+02,
       -9.74221644e-01,  2.00806430e+02,  1.01089674e+02,  4.67300592e+02,
        6.12011184e+02,  5.81053896e+02,  8.39273912e+02,  1.00575716e+03,
        7.05727293e+01,  4.20032310e+02,  2.61912365e+02,  8.03262125e+02,
        1.44160108e+03,  6.65184654e+02,  5.17720793e+02,  5.10058185e+02,
        1.34207462e+02,  5.47371460e+02,  9.80779527e+02,  9.45718374e+02,
        2.04927588e+02,  9.61501131e+02,  7.38144756e+02,  5.83371597e+02,
        5.13860789e+02,  4.67210564e+02,  1.09359935e+03,  7.96195350e+02,
        4.27400185e+01,  1.59062553e+02,  6.26029369e+02,  7.29755390e+01,
        6.36113569e+01,  3.63371715e+02,  1.05381081e+02,  8.17425506e+02,
        3.68741027e+02,  1.43370949e+03,  1.59355763e+02,  2.35206106e+01,
        9.06639146e+02,  4.61926829e+02,  3.68989876e+02,  8.59653026e+02,
        3.99107230e+02,  6.07519805e+02,  8.74738962e+02,  3.44061643e+02,
        6.06778746e+02, -3.05356189e+01,  2.74931062e+02,  3.44814009e+02,
        2.57256011e+02,  8.22940626e+02,  4.07704236e+02,  1.34183672e+03,
        1.10499175e+03,  2.83287759e+02,  2.27041541e+02,  9.30975308e+01,
        9.90656829e+02,  5.61666348e+02,  5.41890333e+02,  2.77979889e+02,
        7.37593070e+02,  8.55951457e+02,  1.26040707e+03,  4.31962996e+02,
        5.29547239e+02,  1.64958828e+02,  1.46933544e+02,  5.17962083e+02,
        1.15611898e+03,  3.71267382e+02,  1.30106291e+02,  4.29239139e+01,
        3.22840385e+02,  7.08517123e+02,  3.22687954e+02,  6.62382456e+02,
       -4.33372092e+01,  9.14901173e+02,  2.46550082e+01,  1.19844838e+03,
        1.10142977e+03,  7.77752204e+02,  4.27238033e+02, -3.84707926e+01,
        4.02100790e+02,  4.88508196e+02,  4.30997113e+02,  1.28738487e+03,
        1.09652248e+03,  1.02665674e+03,  6.93004885e+02,  7.72518852e+02,
        4.55148354e+02,  2.79484871e+02,  3.96988157e+02,  3.43426183e+02,
        2.56116434e+02,  1.20051514e+03,  6.42232538e+00,  1.46933544e+02,
        2.14511776e+02,  3.16442718e+02,  3.26892514e+02,  1.01059871e+03,
        6.60539112e+02, -3.84707926e+01,  9.84534154e+02,  8.04786190e+02,
        7.00703126e+02,  1.04392676e+03,  1.36338084e+02,  4.02115857e+02,
        1.46933544e+02,  1.71914857e+02,  5.94050138e+02,  2.67152349e+02,
        2.82696158e+02,  7.75066527e+02,  9.95538376e+02,  8.03721864e+02,
        6.65537859e+02,  2.91742657e+02,  3.03528954e+02,  4.35545475e+02,
        8.87538895e+02,  8.09694869e+02,  5.67374955e+02,  3.30288835e+02,
        7.41304635e+02,  4.42512606e+02,  7.82614297e+02,  1.06875002e+02,
        8.98981624e+01,  1.46933544e+02,  1.71246972e+02,  8.55139154e+02,
        7.20912509e+02,  4.45001137e+02,  9.26514394e+02,  2.85235586e+02,
        5.26950483e+02,  3.19793815e+02,  8.00351309e+01,  5.06579235e+02,
        5.51761781e+01,  5.87110420e+02,  7.96964506e+02,  3.51280933e+02,
        5.25051505e+02,  5.52070306e+02,  4.21799430e+02,  5.76574732e+02,
        1.83747908e+03,  7.72146240e+02,  7.17077230e+02, -4.53349352e+01,
        8.06690594e+02,  9.51375528e+02,  1.11791248e+03,  7.95043685e+02,
        1.23057383e+02,  5.00958563e+02,  1.25735767e+02, -3.05356189e+01,
        9.37222718e+02,  5.15963137e+02,  4.75391801e+01,  3.16228536e+02,
        2.46550082e+01, -3.70217982e+01,  1.31700129e+03,  7.92722771e+02,
        1.19512140e+03,  3.28191130e+02,  5.04138538e+02,  4.65376087e+02,
        1.23987742e+03,  4.44475197e+02,  2.56428482e+02,  5.75410029e+02,
        8.36441274e+02,  2.78933184e+02, -3.59414828e+01,  9.49787149e+02,
        4.03355101e+02,  6.27034040e+02,  7.08149332e+02,  7.82220784e+02,
        7.68991504e+02,  8.08547655e+02,  3.24721386e+02,  2.52813688e+02,
        1.62047230e+03,  5.94921690e+02,  2.69793120e+02,  1.53407202e+02,
        2.46550082e+01,  2.60061981e+02,  7.98204617e+02,  1.46395293e+02,
        5.86876641e+02,  4.74298006e+02,  5.48842624e+02,  5.34837668e+02,
        2.72518295e+02,  1.35853657e+02,  1.79305890e+02,  1.12126502e+03,
        1.38123010e+03,  9.08515040e+02,  1.53936066e+02,  6.60478627e+02,
        8.87679916e+02,  1.12622296e+03,  1.47458460e+02,  1.58351068e+03,
        1.52234140e+02,  5.42004142e+02,  2.14244413e+02,  3.90991624e+02,
        2.50254771e+02,  1.43934421e+03,  5.34940648e+02,  5.34205066e+02,
        8.51215248e+02,  6.67531189e+02,  4.29212929e+02,  1.54793239e+02,
        3.14434622e+02,  7.74821733e+01,  1.21561783e+02,  1.93424099e+02,
        8.79933103e+02,  2.88262927e+02,  1.24997836e+03,  2.90614105e+02,
        5.01439293e+02,  9.56983188e+02,  1.23287385e+03,  1.19318083e+03,
        4.60660504e+02,  6.35869416e+02,  1.01381596e+03,  1.09120264e+03,
        2.52314916e+02, -4.37744797e+01,  6.19901593e+02,  6.22013922e+02,
        2.69494990e+02,  6.71076619e+02,  3.60027781e+02,  7.36126007e+02,
        6.15493599e+02,  3.61722302e+02,  5.79234282e+02,  3.13237268e+02,
        5.51761781e+01,  9.50116357e+02,  4.46243629e+02,  7.32996654e+02,
        1.44303253e+02,  3.67545706e+02,  6.79297225e+02,  3.02251511e+02,
        6.85921511e+01,  1.66875172e+03,  1.46933544e+02,  4.07021922e+02,
        3.86484415e+02,  3.80907328e+02,  2.46550082e+01,  9.87651619e+02,
        1.31053710e+02,  4.46660942e+02,  3.83905523e+02,  7.75370469e+02,
        1.05072929e+03,  1.84038683e+03,  1.16738901e+02,  1.62884620e+03,
        1.05983075e+03,  4.09717646e+02,  6.29196091e+02,  6.74839968e+02,
        1.63101969e+03,  3.05812433e+01,  4.59525725e+02,  4.27238033e+02,
        9.59996384e+01,  4.12034677e+02,  3.84272296e+02,  2.38845146e+02,
        8.06141011e+02,  4.99613909e+02,  9.38469636e+02,  2.76913771e+02,
        2.53226270e+02,  1.06875002e+02,  4.31213923e+02,  5.05052156e+02,
        1.59504847e+02,  1.09815851e+03,  1.58231107e+03, -4.22535298e-01,
        3.77003250e+02,  5.75789393e+02,  3.23667914e+02,  2.52695568e+02,
        8.22983496e+02,  4.44608958e+02,  6.88511819e+02,  8.02697209e+02,
        1.50698499e+02,  7.24209485e+02,  2.96813678e+02,  3.31508435e+02,
        2.98233484e+02,  1.06875002e+02,  2.99612700e+02,  4.89216883e+02,
       -2.99361540e+01,  1.04335566e+03,  1.61694750e+02,  7.56731390e+02,
        3.60358422e+02,  7.69018610e+02,  8.53909824e+02,  2.08817694e+02,
       -4.12065871e+01,  7.69801886e+02,  6.78977160e+02,  8.38476260e+02,
        5.35205459e+02,  5.29694782e+01,  1.11710642e+02,  4.00629627e+02,
        1.21561783e+02,  1.05822712e+03, -3.70217982e+01,  8.57473586e+02,
        3.07923094e+02, -4.16910143e+01,  1.28577711e+03,  9.03004812e+02,
        4.25795027e+02,  7.35950402e+01,  1.23454606e+03,  2.40736292e+01,
        2.86075017e+02,  4.25582974e+02,  5.10643013e+02,  1.04939600e+02,
        8.75189063e+02,  9.36784414e+02,  1.76393313e+03,  5.34255621e+02,
        1.31220152e+03, -3.54320442e+01,  2.77979889e+02,  6.23476717e+02,
        9.35797078e+02,  1.34408949e+02,  1.20051514e+03,  3.90250964e+02,
        6.78750569e+02,  2.23721807e+02,  8.19114768e+02,  3.64842879e+02,
        6.15493547e+02, -4.12065871e+01,  6.12206492e+02,  8.08619626e+02,
       -3.84707926e+01,  2.82019982e+02,  1.55620768e+02,  6.16842181e+02,
        1.54118025e+03,  9.64424842e+02,  8.75935584e+02,  4.57962614e+02,
        1.24625241e+03,  5.11088857e+02,  6.44117197e+02,  7.78673828e+02,
        1.50763711e+02,  1.67099794e+03,  6.69512286e+02,  1.63893964e+02,
        3.77187145e+02,  1.01533843e+02,  3.16902456e+02,  3.33461474e+02,
        2.58149263e+02,  7.40141020e+02,  2.86284535e+02,  2.48902058e+02,
        2.35034628e+01,  1.38624215e+03,  8.27349999e+02,  7.56016868e+02,
        5.29488175e+02,  2.30514149e+02,  4.11489559e+02,  1.53004443e+02,
        1.11710642e+02,  1.25640023e+03,  1.36566015e+03,  7.03115228e+02,
        6.31731263e+02,  2.91090449e+02,  6.64853617e+02,  6.35979445e+02,
        4.16810514e+02,  2.82464662e+02,  5.73850441e+02,  9.87071401e+02,
        7.70701803e+02,  4.13934265e+02,  1.33857700e+03,  6.60817515e+02,
        1.48290132e+02,  3.43418009e+02,  6.21956531e+02,  4.67715035e+02,
        6.42774066e+01,  5.04464567e+02,  1.32695618e+02,  1.77206339e+02,
        9.25962707e+02,  2.43382826e+02,  7.77465647e+02,  3.99342125e+02,
        1.42112627e+02,  8.00087338e+02,  7.82597290e+02,  9.11713137e+02,
        5.89678840e+02,  7.39778946e+02,  2.94680178e+02,  8.02714359e+02,
        7.36670778e+02,  5.12936540e+02,  5.37100443e+02,  7.49491171e+02,
        3.20031990e+02,  3.18429599e+02, -3.05870625e+01,  5.03701844e+02,
        8.05725723e+02,  3.08700942e+02, -3.77977390e+01,  1.62430128e+03,
        8.07995969e+02,  1.10829315e+03,  6.64986173e+02,  1.12557815e+03,
        2.67152349e+02,  4.15372154e+02,  1.26424079e+02,  5.89017226e+02,
        1.70419443e+02,  1.53462113e+03,  5.30220434e+02,  6.33763038e+02,
        4.01504612e+02,  1.00709395e+03,  7.05727293e+01,  1.11710642e+02,
        4.97909340e+02,  8.88231603e+02,  1.49592682e+02,  4.68863703e+02,
        2.45861711e+02,  8.24690594e+01,  1.23428308e+03,  1.43531547e+03,
        4.34301282e+02,  4.28294566e+02,  3.25768751e+02,  4.03404167e+02,
        6.77642166e+02,  3.18084841e+02,  1.06089929e+03,  4.99228928e+02,
        1.59162850e+02,  3.03745064e+02,  2.74250229e+02,  6.31980174e+02,
        1.94574816e+02,  1.12447595e+03, -4.12065871e+01,  8.01937419e+02,
        1.12521154e+03,  1.43629381e+03,  8.92531433e+02,  8.41384286e+02,
        8.13978436e+02,  7.24974333e+02, -3.54956383e+01,  3.91593625e+02,
        3.25751598e+02,  7.69164367e+02,  2.18485325e+02,  4.77556583e+02,
        1.49592682e+02,  8.51717856e+02,  1.05392112e+02,  2.93204129e+02,
        7.62195350e+02,  3.13202207e+02,  3.58039209e+02,  6.61734432e+02,
        2.81744138e+02,  8.06023151e+02,  1.79815244e+03,  1.11482590e+03,
        7.27171424e+02,  4.53798703e+02,  1.19336473e+03,  3.30641920e+02,
        8.79766975e+02,  5.39415320e+01,  1.43912407e+03,  1.41256976e+03,
        1.63893964e+02,  5.30446978e+02,  9.54758253e+02,  1.36258133e+02,
        2.11460641e+02,  2.56116434e+02,  1.04703817e+02,  1.76678529e+03,
        4.73470477e+02, -3.06213582e+01,  1.11452197e+03,  6.25690783e+02,
        3.02975082e+02,  1.01786461e+02,  4.95473008e+02,  5.17952290e+02,
        1.06556407e+03,  7.43309274e+02,  7.98930334e+02,  1.46933544e+02,
        7.75342370e+02,  1.60201054e+02,  5.12067502e+02,  3.43969695e+02,
        5.08113703e+02,  4.70159259e+01,  1.19216512e+03,  9.72482957e+02,
        1.53407202e+02,  5.89506973e+02,  8.04722330e+02,  1.24415164e+03,
        6.62136483e+02, -3.84707926e+01,  7.52321962e+02,  1.70477169e+03,
        5.89293069e+02,  5.90058660e+02,  2.79896163e+02,  4.74022163e+02,
        6.38511220e+02,  5.01338560e+02,  1.03912368e+03,  1.58360691e+03,
        1.19808414e+02,  5.13773353e+02,  6.23438410e+02,  1.12399568e+03,
        7.13172837e+02,  2.77979889e+02,  4.50445516e+02,  7.10080234e+02,
        1.75191824e+03,  6.10514025e+02,  1.12000233e+02,  4.48367739e+02,
        7.10386203e+02,  1.53535671e+03,  9.97649784e+02,  6.27181987e+02,
       -2.97946841e+01,  6.80313680e+02,  1.04922452e+02,  5.91702772e+02,
        7.44002528e+02,  2.88462225e+02,  1.00962799e+03,  2.75390800e+02,
        9.07154563e+02,  4.47791387e+02,  8.47189710e+02,  6.23032148e+02,
        8.00351309e+01,  7.41662288e+02,  3.68300148e+02,  4.08565259e+02,
        6.56843199e+02,  1.89376567e+02, -6.06430746e-01,  4.34703345e+02,
        2.55968743e+02,  3.32491801e+02,  6.17523647e+02,  5.65811844e+02,
        3.17566697e+02,  8.14420984e+02, -3.59414828e+01,  9.22960536e+01,
        2.66784740e+02,  2.73290019e+02,  2.75590041e+02,  4.25489736e+02,
        1.24924278e+03,  5.10643013e+02,  1.74639890e+02,  7.60956187e+02,
        4.31692191e+02,  5.26952591e+02,  1.53053565e+03,  2.46550082e+01,
        1.41643675e+03,  1.65730390e+02,  5.67676964e+02,  8.05298950e+02,
        1.49592682e+02,  1.01694513e+02,  1.35746483e+02,  5.80872498e+02,
        6.13688891e+02,  7.70798954e+02,  6.38563544e+02,  3.44374387e+02,
        7.00335335e+02,  1.24481660e+03,  4.25485630e+02,  5.37223894e+02,
        2.74250229e+02,  5.03304635e+02,  2.48849271e+02,  1.32999408e+02,
        1.06047438e+03,  1.53407202e+02,  8.34418424e+02,  8.00455129e+02,
        3.99478594e+02,  3.02791187e+02,  7.77846299e+02,  1.23431223e+03,
        9.69025500e+02,  5.61086151e+02,  4.08740581e+02,  6.20464637e+02])

In [411]:
#변수:w5개,b1개
model.coef_, model.intercept_

(array([ -0.09194772,   8.55786093,   1.03361515,  26.18621215,
         -0.12293283,   0.42869658,  -7.58405515,   3.69655846,
        -45.9064996 ,  -9.92238727]),
 86.7915607347299)

In [412]:
#mae_val=sum(abs(y_test-pred))/len(pred)
mae_val=np.mean(abs(y_test-pred))
mae_val

143.08512135180928

In [413]:
#mse_val=sum((y_test-pred)**2)/len(pred)
mse_val=np.sum((y_test-pred)**2)/len(pred)
mse_val

39890.98488706267

In [414]:
#rmse_val=mse_val ** 0.5
rmse_val=np.sqrt(mse_val)
rmse_val

199.72727627207723

In [415]:
from sklearn.linear_model import LinearRegression

In [416]:
from sklearn.linear_model import Lasso, Ridge

In [417]:
print(X.shape)

(2896, 10)

In [418]:
nor_X = MinMaxScaler().fit_transform(X)  # 입력 데이터 정규화
ex_X = PolynomialFeatures(degree=2, include_bias=False).fit_transform(nor_X)  # 데이터 feature 추가 생성

X_train, X_test, y_train, y_test = train_test_split(ex_X, y, random_state=99)

In [419]:
X_train.shape

(2172, 65)

### RIDGE

In [420]:
model=Ridge(alpha=0.1)
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred[0:10]

array([ 232.28261475, 1221.30936226, 1666.4196987 , 1152.98533651,
        390.81272843,  436.38940538, 1477.15011514,  550.80657815,
        721.31956749,  884.07091051])

In [421]:
sel = [10, 5, 1, 0.5, 0.1, 0.01, 0.001, 0.0001]
for var in sel:
    ridge = Ridge(alpha=var).fit(X_train, y_train)
    print("학습용 데이터 세트 점수 : {:.2f}".format(ridge.score(X_train, y_train)))
    print("테스트 데이터 세트 점수 : {:.2f}".format(ridge.score(X_test, y_test)))
    print()

학습용 데이터 세트 점수 : 0.83
테스트 데이터 세트 점수 : 0.81

학습용 데이터 세트 점수 : 0.84
테스트 데이터 세트 점수 : 0.82

학습용 데이터 세트 점수 : 0.86
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.86
테스트 데이터 세트 점수 : 0.84

학습용 데이터 세트 점수 : 0.87
테스트 데이터 세트 점수 : 0.85

학습용 데이터 세트 점수 : 0.87
테스트 데이터 세트 점수 : 0.85

학습용 데이터 세트 점수 : 0.87
테스트 데이터 세트 점수 : 0.85

학습용 데이터 세트 점수 : 0.87
테스트 데이터 세트 점수 : 0.85

In [424]:
model=Ridge(alpha=0.1)
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred[0:10]

array([ 232.28261475, 1221.30936226, 1666.4196987 , 1152.98533651,
        390.81272843,  436.38940538, 1477.15011514,  550.80657815,
        721.31956749,  884.07091051])

In [425]:
mae_val=np.mean(abs(y_test-pred))
mae_val

113.0684582376322

In [426]:
mse_val=np.sum((y_test-pred)**2)/len(pred)
mse_val

24771.754296312458

In [427]:
rmse_val=np.sqrt(mse_val)
rmse_val

157.3904517317123

### 제출파일 만들기
 - PolynomialFeatures(degree=2)
 - Ridge(alpha=0.1)

In [428]:
print(X_test.shape)
print(test.shape)

(724, 65)
(1008, 17)

In [429]:
sel=['label_generation_num','label_bus','단지내주차면수','공급유형','총세대수','전용면적','공가수','지역','임대건물구분','자격유형']
test_sel=test[sel]
nor_test = MinMaxScaler().fit_transform(test_sel)  # 입력 데이터 정규화
ex_test = PolynomialFeatures(degree=2, include_bias=False).fit_transform(nor_test)  # 데이터 feature 추가 생성
print(ex_test.shape)

(1008, 65)

In [430]:
pred = model.predict(ex_test)

In [431]:
test['등록차량수'] = pred
test['단지별차량수평균'] = test.groupby("단지코드")['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new.head()

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수,label_bus,label_sub,label_generation_num,등록차량수,단지별차량수평균
0,0,C1072,754,1,1,1,39.79,116,8,8,22830000,189840,2.0,2.0,683.0,0,0,15,562.477235,602.521908
1,8,C1128,1354,1,1,1,39.79,368,5,8,22830000,189840,3.0,3.0,1216.0,1,1,23,1103.769302,1164.455773
2,17,C1456,619,1,3,1,33.40,82,12,1,19706000,156200,16.0,16.0,547.0,9,9,12,535.250578,559.903389
3,26,C1840,593,1,11,1,39.57,253,4,1,14418000,108130,3.0,3.0,543.0,1,1,22,524.187402,562.176555
4,30,C1332,1297,1,1,1,39.99,282,6,8,28598000,203050,2.0,2.0,1112.0,0,0,22,987.437882,1030.528443

In [432]:
set(sub['code']) - set(test_new["단지코드"])

{'C1327', 'C2335', 'C2675'}

In [433]:
sub_df = pd.merge(sub, test_new, left_on='code', right_on='단지코드',how='left')
sub_df = test_new[ ['단지코드', '단지별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df.to_csv('0717_ridge.csv', index=False)
sub_df

      code          num
0    C1072   602.521908
1    C1128  1164.455773
2    C1456   559.903389
3    C1840   562.176555
4    C1332  1030.528443
..     ...          ...
142  C2456   293.598569
143  C1266   300.843016
144  C2152    62.961291
145  C1267   138.451785
146  C2189   231.576175

[147 rows x 2 columns]

In [434]:
import os
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '0714_hw.csv',
 '0716_api.ipynb',
 '0716_dacon_form.ipynb',
 '0716_random_forest.ipynb',
 '0716_random_tree.csv',
 '0716_study.csv',
 '0716_임대보증금_결측치.ipynb',
 '0716_전처리_randomforest.ipynb',
 '0717_ridge.csv',
 '0717_전처리_ridge.ipynb',
 'age_gender_info.csv',
 'cache',
 'covid19_status_crawler.ipynb',
 'sample_submission.csv',
 'test_df.csv',
 'train_df_errno.csv',
 'Untitled.ipynb']

### 제출용 오류 코드를 0으로 만들고 150행만들기

In [435]:
add_dat={'code':['C2675','C2335','C1327'],'num':['0','0','0']}
add_df=pd.DataFrame(add_dat)
add_df

    code num
0  C2675   0
1  C2335   0
2  C1327   0

In [436]:
sub_df=pd.concat([sub_df,add_df]).reset_index()
sub_df

     index   code          num
0        0  C1072   602.521908
1        1  C1128  1164.455773
2        2  C1456   559.903389
3        3  C1840   562.176555
4        4  C1332  1030.528443
..     ...    ...          ...
145    145  C1267   138.451785
146    146  C2189   231.576175
147      0  C2675            0
148      1  C2335            0
149      2  C1327            0

[150 rows x 3 columns]

In [437]:
sub_df=sub_df.drop(['index'],axis=1)

In [294]:
sub_df.to_csv('0717_ridge.csv', index=False)
sub_df.head()

    code          num
0  C1072   617.923624
1  C1128  1155.030331
2  C1456    568.10221
3  C1840   561.609343
4  C1332  1024.226337